import React from 'react';
import classes from './{{pascalCase name}}.module.css';

interface {{pascalCase name}}Props {}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return (
    <div>
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};